body {
    background-color: lightgrey;
  }

.header {
    text-align: center;
	height: 400px;
	padding-top: 30px;
    border-radius: 5px;
    background-color: #131513;
    color: #4C8526; 
}
.primary-overlay {
    
}
.table{
    border-style: solid; 
    border-radius: 5px;
    margin-bottom: 50px;
    background-color: green;
}
.current-train-schedule{
background-color: #93BC64;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
}
